<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.SpeakEasy"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/launcher"
            android:logo="@drawable/launcher"
            android:theme="@style/Theme.Speakeasy">
        <activity
                android:name="Login"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.LoginActivity"/>
        <activity android:name=".MainPage"/>
        <activity android:name=".HomePage"/>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/app_id"/>

    </application>
</manifest>
